extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text' placeholder='Title' name='title' required='true' value=(undefined===twoot ? '' : twoot.title))
      label(for='body') Twoot:
      input#twoot.form-control(type='text' placeholder='twoot' name='body' required='true' value=(undefined===twoot ? '' : twoot.body))
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg